.block{
	width: 300px;
	height: 400px;
	border: 2px solid gray;
	background-color: #fff;
	padding: 20px 30px 20px 30px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -150px;
	-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

